@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

body {
  background-color: #f4f2ec;
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --blue-font-color: #617df8;
  --sky-font-color: #dfeffe;
  --lightsky-font-color: #99d0e2;
  /* CSS 전역 변수 선언 */
}
