table {
  border-collapse: separate;
  border-spacing: 0 5px; /* 행 간격 조정 */
  margin-left: 70px;
  width: calc(100% - 140px); /* 테이블의 너비 조정 */
  background-color: var(--sky-font-color);
}

table th,
table td {
  text-align: center;
  padding: 10px;
}

table th {
  font-size: 30px;
}

table td {
  font-size: 20px;
}

table tr {
  /* 각 행의 배경색 설정 */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 5px; /* 각 카드지갑 간 간격 */
}
